/*https://developers.arcgis.com/calcite-design-system/foundations/colors/ */
calcite-list-item {
  white-space: pre-line;
}

calcite-button {
  --calcite-button-background-color: #414141; /* Default color (e.g., blue) */
  --calcite-button-icon-color: #ffffff;
}

calcite-label {
  --calcite-color-text-1: #9ca3af;
  --calcite-font-size--1: 1.1rem;
  /* margin-top: 1vh; */
  margin-left: 15px;
  margin-top: 5px;
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-list {
  overflow-y: auto;
  /* --calcite-color-border-3: #555555; */
}

calcite-avatar {
  margin-inline-end: 0.3rem;
  margin-top: 0.15rem;
}

calcite-tabs {
  --calcite-color-border-3: #555555;
  --calcite-color-border-2: #555555;
  --calcite-color-border-1: #555555;
  border-style: solid;
  border-width: 0.7;
  border-top: rgb(0, 0, 0, 0);
  width: 50vh;
}
